@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "compass/utilities/general/clearfix";

body.bp {
	@include blueprint-typography(true);
	@include blueprint-utilities;
	@include blueprint-debug;
	@include blueprint-interaction;
	a, a:visited, a strong {
		color: #336DA8;
		text-decoration: none;
		cursor: pointer;
	}
	h1 {
		margin: 3px 0;
		padding: 0;
		font-size: 35px;
		font-family: "Ubuntu",Helvetica,Arial,sans-serif;
		font-weight: bold;
		color: #444;
	}
	h1, h2, h3, h4, h5, h6 {
		text-rendering: optimizeLegibility;
	}
}

form.bp {
	@include blueprint-form;
	@include blueprint-scaffolding;
}

#header {
	height: 40px;
	min-width: 981px;
	margin-bottom: 24px;
	background-color: #336DA8;
	text-align: center;
}
#header {
	-webkit-box-shadow: 0 0 6px #666;
	-moz-box-shadow: -6px 0 6px #666;
	box-shadow: 0 0 6px #666;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	h1 {
		float: left;
		margin: 7px 0 0 0;
		padding: 0;
		font-size: 1em;
	}
}
#headerContent {
	position: relative;
	width: 981px;
	height: 40px;
	margin: 0 auto;
}
#headerIcons {
	float: left;
	height: 40px;
	margin: 0 0 0 16px;
	padding: 0;
	list-style: none;
}
#headerIcons li {
	float: left;
	margin: 0;
	a {
		float: left;
		display: block;
		height: 40px;
		padding: 0 16px;
		font-weight: bold;
		font-size: 1.167em;
		line-height: 2.857em;
		color: white;
	}
}
.pagination {
	margin: 3px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 7px;
	background-color: #EEE;
	line-height: 2em;
	text-align: center;
	a, a:hover, a:visited{
		color: #666;
		font-weight: bold;
	}
}
.paginationTop {
	margin:24px 0 10px
}
.pagination .left {
	float: left;
	text-align: left;
}
.pagination .left, .pagination .middle, .pagination .right {
	margin: 0;
}
.arrow {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.388em;
}
#content .pagination .middle {
	margin: 0 150px;
	line-height: 1.667em;
}
body.two-col{
	background-color: #EEE;
	padding: 0 0 24px;
	#container {
    	@include container;
		-webkit-box-shadow: 0 0 6px #CCC;
		-moz-box-shadow: 0 0 6px #CCC;
		box-shadow: 0 0 6px #CCC;
		padding: 0 24px 24px;
		background-color: white;
	}
	#footer{
    	@include column($blueprint-grid-columns, true);
	}
	#sidebar{
		$sidebar-columns: floor($blueprint-grid-columns / 3);
		@include column($sidebar-columns, true);
	}
	#content {
    	$content-columns: ceil(2 * $blueprint-grid-columns / 3);
		@include column($content-columns);
	}
	#full-content{
		@include column($blueprint-grid-columns, true);
	}
}

#banner{
	margin-top: 24px;
	#questionsBanner {
		margin: 20px 12px 8px;
	}
	.sectionBanner {
		height: 150px;
		background-repeat: no-repeat;
		text-align: right;
		h1 {
			font-size: 30px;
			padding-top: 12px;
			font-weight: bold;
			margin: 3px 0;
		}
		a {
			font-size: 14px;
			line-height: 1.3;
			font-weight: bold;
			text-decoration:none;
		}
		.tagline {
			margin: 0;
			font-size: 2em;
			font-weight: normal;
			color: #AAA;
			line-height: 1.3;
			padding-top: 5px;
		}
	}
	.bigButton {
		float: left;
		text-align: center;
		width: 195px;
		margin: 0 5px;
		h2 {
			height: 124px;
			margin: 0;
			border: none;
			padding: 0;
			font-size: 1.2em;
		}
		a {
			display: block;
			height: 100%;
			background-image: url(http://static.ifixit.net/static/images/answers/banner-buttons-20091110.gif);
			background-repeat: no-repeat;
			color: white;
			span {
				display: block;
				padding-top: 80px;
			}
		}
	}
}
#earthButton {
	background-position: -2px -2px;
}
#peopleButton {
	background-position: -2px -130px;
}
#hornButton:hover {
	background-position: -201px -258px;
}
#hornButton {
	background-position: -2px -258px;
}
#question-header{
	h3{
		margin-bottom: 10px;
		font-size:18px;
		font-weight:normal;
		line-height:1.4;
	}
	a{
		color:#222;
		text-decoration:none;
	}
}
#vote-cell{
	float:left;
	width:60px;
}
#post-cell{
	margin-left:60px;
	font-size:14px;
	.comments-link{
		color: #888;
		text-decoration:none;
		font-size:13px;
	}
}
.comments {
	border-top: dotted 1px #AAA;
	margin-top: 10px;
	padding-bottom: 10px;
	line-height: 135%;
	color: #444;
	font-size: 13px;
	.comment {
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: dotted 1px #DDD;
	}
	.timestamp{
		color:#999;
	}
}
#new_comment{
	display:none;
}
#answers-header {
	margin-top: 10px;
	margin-bottom: 10px;
}
#answers .subheader {
	margin-bottom: -10px;
}
.subheader {
	border-bottom: 1px solid #666;
	height: 34px;
	clear: both;
	margin-bottom: 15px;
	h1, h2{
		font-size: 170%;
		line-height: 34px;
		margin-bottom: 0px;
	}
}
textarea {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	border: 1px solid #999;
}
.content-area{
	width: 620px;
	height: 150px;
	line-height: 1.4;
	border:1px solid #ddd;
}
.me-field{
	border:1px solid #999;
	width:600px;
}
.answer-submit{
	font-size:16px;
}
.comment-area{
	width: 563px;
	height:60px;
	@include clearfix;
}
.answer {
	border-bottom: 1px solid #AAA;
	padding-bottom: 20px;
	padding-top: 20px;
}
.space {
	padding-top: 20px;
}
#new_answer{
	h2{
		margin-bottom: 7px;
	}
}
.user-bar{
	padding-top:10px;
	@include clearfix;
}
.bp .user-bar{
	table{
		margin-bottom:0;
	}
	td{
		padding:0;
		vertical-align:top;
	}
}
.avatar{
	float:left;
	width:32px;
	height:32px;
}
.user-ext{
	margin-left:42px;
}
.ext-top{
	line-height:1.2;
}
.timestamp{
	color:#999;
	font-size:12px;
}
.bp a.username-link{
	text-decoration:none;
}
.user-base{
	width:114px;
}
.user-me{
	line-height:1.4;
	font-size:13px;
}
.post-menu {
	padding-top: 2px;
}
.bp .post-menu a{
	color: #888;
	text-decoration:none;
}
.lsep {
	color: #CCC;
	font-size: 110%;
}
.bp .comment .username a{
	text-decoration:none;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on {
	text-indent: -9999em;
	font-size: 1px;
}
.vote-up-off, .vote-down-off, .vote-accepted-off, .star-off, .comment-up-off, .flag-off {
	cursor: pointer;
}
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off {
	background-position: 0px -265px;
	display: block;
	margin: 0 auto;
	width: 41px;
	height: 25px;
}
.vote-down-off {
	background-position: 0px -300px;
}
#hlogo a, .envelope-on, .envelope-off, .vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .flag-off, .flag-on, .edited-yes, a.cc-wiki-link, .feed-icon, .statsarrow, .vote-accepted-off, .vote-accepted-on, .vote-accepted-bounty, .badge-earned-check, .delete-tag, .delete-tag-hover, .grippie, .expander-arrow-hide, .expander-arrow-show, .expander-arrow-small-hide, .expander-arrow-small-show, .anonymous-gravatar, .badge1, .badge2, .badge3, .add-interesting-tag-on, .add-interesting-tag-off {
	background-image: url(/images/sprites.png);
	background-repeat: no-repeat;
	overflow: hidden;
}
.vote span {
	display: block;
	color: #808185;
	font-weight: bold;
}
.vote-count-post {
	display: block;
	font-size: 280%;
	line-height:1;
}
.vote {
	text-align: center;
}
#askQuestion{
	float: right;
	width: 180px;
	height:46px;
	line-height:46px;
	font-size: 16px;
	color:white;
	font-size:30px;
	margin-right:50px;
}
.bp{
	a.buttonLink{
		border: 1px solid #EDA42E;
		text-shadow: 0 -1px 0 #EDA42E;
		background: #FEC965;
		background: -moz-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEC965),color-stop(100%,#FEBC3E));
		background: -webkit-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
		background: -o-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
		background: -ms-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEC965',endColorstr='#FEBC3E',GradientType=0);
		background: linear-gradient(top,#FEC965 0,#FEBC3E 100%);
		display: inline-block;
		text-decoration:none;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 3px 5px 4px;
		text-align: center;
		font-family: "Ubuntu",Helvetica,Arial,sans-serif;
		font-size: 1.2em;
		line-height: 1.334em;
		font-weight: bold;
		color: white;
		cursor: pointer;
		
	}
}
#questions{
	.question{
		@include clearfix;
		padding:15px 0;
		border-top: 1px dotted #DDD;
	}
}
.boxes{
	float:left;
	width:140px;
	@include clearfix;
	.money-box{
		float:left;
		border:1px solid #ccc;
		font-size:24px;
		height:58px;
		line-height:60px;
		width:60px;
		text-align:center;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin-right:10px;
	}
	.data-box{
		float:left;
		width: 60px;
		text-align:center;
		.answers-count-box{
			margin: 0;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			padding: 3px 5px;
			background-color: #EEE;
			line-height: 1.667em;
			margin-bottom: 8px;
		}
		.votes-count-box{
			margin: 0;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			padding: 3px 5px;
			background-color: #EEE;
			line-height: 1.667em;
		}
	}
}
.summary{
	margin-left:140px;
	.question-title{
		font-size:14px;
	}
	.question-ask-time{
		text-align:right;
		color:#888;
		font-size:12px;
	}
}